<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />

<title>У Пайтона</title>
</head>
<body>
<!--Создаём таблицу контейнер, которой задаём следующее
оформление:
border="1" - рамка вокруг контейнера. Увеличив число, можно увеличить толщину рамки.
align="center" - размещаем контейнер по центру экрана.
rules="rows" - убираем двойную рамку.
style="width:60%;" - добавляем стилевое свойства, делающее
контейнер и весь сайт "резиновым".
Сделать полноценный адаптивный дизайн, этим способом невозможно.-->
<table
border="1"
align="center"
rules="rows"
style="width:60%;">
<!--Создаём строку-->
<tr>
<!--Создаём ячейку строки-->
<td>
<!--ШАПКА САЙТА-->

<!--В ячейке строки создаём ещё одну таблицу для шапки сайта.
Оформление:
border="1" - двойная рамка толщиной в 1px
background="images/168.png" - картинка в шапке сайта, если требуется.
Адрес картинки вы должны вставить свой.
bgcolor="#FFDAB9" - фоновый цвет в шапке, если нет картинки.
cellpadding="10" - отступ содержимого от рамки не менее 10px.
style="width:100%; border-radius:5px;" - добавляем "резиновость"
и закругляем уголки рамки-->
<table
border="1"
background="{{ url_for('static', filename='image/py.jpg') }}"
bgcolor="#FFDAB9"
cellpadding="10"
style="width:100%; border-radius:5px;">
<!--Создаём строку таблицы-->
<tr>
<!--Создаём столбец таблицы-->
<th>
<!--Содержание ячейки столбца-->
<h1>Ресторан "У Пайтона"</h1>
<h3>Добро пожаловать в Наш ресторан!</h3>
<!--Закрываем таблицу-->
</th>
</tr>
</table>

<!--ОСНОВНОЙ КОНТЕНТ-->

<!--В этой же ячейке контейнера создаём ещё одну таблицу
для основного контента.
Оформление как и в предыдущей таблице-->

<table
border="1"
bgcolor="#FFDAB9"
cellpadding="10"
style="width:100%; border-radius:5px;">
<!--Создаём строку-->
<tr>
<!--Создаём ячейку
Оформление:
rowspan="2" - объединяем две ячейки в одну.
Число объединяемых ячеек по числу ячеек в сайдбаре.
style="width:80%" - основной контент занимает 80% всей площади,
оставшиеся 20% для сайдбара-->
<td
rowspan="2"
style="width:80%">
<h2>Доброго времени суток! </h2>
    <img src="{{ url_for('static', filename='image/pypov.png') }}" alt="no picture"
    align="left" width="195" height="157" hspace="50" vspace="20" />
<!--Начинаем абзац с красной строки-->
<p style="text-indent:20px">
Мы очень рады приветствовать Вас в Нашем ресторане! Устали кодить день за днем?
Надоело есть еду находу? Нажми на паузу! До дедлайна еще далеко!
У нас в меню есть горячие блюда, вкуснейшие напитки и удобные рабочие места(если все же дедлайн дышит в спину)</p>

<p style="text-indent:20px">Справа Вы можете увидеть меню, заказать столик или устроиться к нам :)
</p>
<!--Закрываем ячейку-->
</td>

<!--САЙДБАР-->

<!--Создаём ячейку сайдбара-->
<td bgcolor="#FFDAB9">
<h3>Меню</h3>
<!--Абзац для ссылки на страницу сайта-->
<p>
<!--Ссылка на страницу сайта-->
<a href="">
<!--Картинка маркера перед названием страницы-->

<!--Название страницы
style="margin-left:5px;" - отступ названия от маркера-->
<a href="{{url_for('main')}}">Основное меню</a>
<!--Закрываем абзац-->
</p>
<p>
<a href="">

<a href="{{url_for('napit')}}">Напитки</a>
</p>
<p>
<a href="">

<a href="{{url_for('kont')}}">Заказать столик</a>
</p>
<!--Закрываем строку Меню-->
</td>
</tr>
<!--Создаём строку с дополнительной информацией-->
<tr>
<!--Ячейка с дополнительной информацией-->
<td
bgcolor="#FFDAB9"
align="center">
<h3>Вакансии</h3>
<p>Требуется повар-сушист</p>
    <p>Требуется менеджер-лингвист</p>
<!--Закрываем ячейку с общей информацией
и таблицу основного контента-->
</td>
</tr>
</table>

<!--ПОДВАЛ-->

<!--Создаём таблицу подвала-->
<table
border="1"
bgcolor="#BDB76B"
height="100"
cellpadding="10"
style="width:100%; border-radius:5px;">
<!--Создаём строку.-->
<tr>
<!--Создаём столбец-->
<th>
<h3>Есть идеи по улучшению нашего ресторана? Звони: 8(890)8842222</h3>
<!--Закрываем таблицу подвала. При желании в подвале можно
сделать несколько строк и столбцов-->
</th>
</tr>
</table>
<!--Закрываем таблицу контейнера-->
</td>
</tr>
</table>
</body>
</html>

