<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8" />
<head>
<title> Основное меню </title>
</head>
  <body>
  <h3>Основное меню</h3>
  <a href="{{url_for('hw')}}">На главную</a>
  <img src="{{ url_for('static', filename='image/land12.jpg') }}" alt="no picture"
    align="right" width="210" height="200" hspace="100" vspace="20" />
  <img src="{{ url_for('static', filename='image/land2.jpg') }}" alt="no picture"
    align="right" width="210" height="200" hspace="100" vspace="20" />
  <table>
  <caption>
    Холодные закуски
  </caption>
  <tr>
    <th>Наименование</th>
    <th>Выход, гр.</th>
    <th>Цена, руб.</th>
  </tr>
  <tr>
    <td>Ассорти из овощей, зелени и сыра</td>
    <td>120</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Ассорти мясное</td>
    <td>120</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Ассорти рыбное (семга с/с, форель с/с)</td>
    <td>120</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Ассорти грибное</td>
    <td>120</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Соления из бочки (помидоры, огурцы, перец, чеснок, капуста)</td>
    <td>120</td>
    <td>100</td>
  </tr>
</table>
  <table>
  <caption>
    Супы
  </caption>
  <tr>
    <th>Наименование</th>
    <th>Выход, гр.</th>
    <th>Цена, руб.</th>
  </tr>
  <tr>
    <td>Грибной</td>
    <td>250</td>
    <td>130</td>
  </tr>
  <tr>
    <td>Куриный с лапшой</td>
    <td>250</td>
    <td>150</td>
  </tr>
  <tr>
    <td>Борщ</td>
    <td>250</td>
    <td>150</td>
  </tr>
  <tr>
    <td>Овощной</td>
    <td>250</td>
    <td>150</td>
  </tr>
  <tr>
    <td>Лагман</td>
    <td>250</td>
    <td>170</td>
  </tr>
</table>
</body>
</html>
 <table>
  <caption>
    Салаты
  </caption>
  <tr>
    <th>Наименование</th>
    <th>Выход, гр.</th>
    <th>Цена, руб.</th>
  </tr>
  <tr>
    <td>Капрезе</td>
    <td>250</td>
    <td>130</td>
  </tr>
  <tr>
    <td>Цезарь с курицей</td>
    <td>250</td>
    <td>200</td>
  </tr>
  <tr>
    <td>Цезарь с креветками</td>
    <td>250</td>
    <td>220</td>
  </tr>
  <tr>
    <td>Греческий</td>
    <td>250</td>
    <td>150</td>
  </tr>
  <tr>
    <td>Оливье</td>
    <td>250</td>
    <td>120</td>
  </tr>
</table>
</body>
</html>