<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8" />
<head>
<title> Напитки </title>
</head>
  <body>
  <h3>Основное меню</h3>
  <a href="{{url_for('hw')}}">На главную</a>
  <img src="{{ url_for('static', filename='image/lat.png') }}" alt="no picture"
    align="right" width="210" height="200" hspace="100" vspace="20" />
  <img src="{{ url_for('static', filename='image/kol.jpg') }}" alt="no picture"
    align="right" width="210" height="200" hspace="100" vspace="20" />
  <table>
  <caption>
    Молочные напитки
  </caption>
  <tr>
    <th>Наименование</th>
    <th>Выход, мл.</th>
    <th>Цена, руб.</th>
  </tr>
  <tr>
    <td>Молочный коктейль Ваниль</td>
    <td>250</td>
    <td>190</td>
  </tr>
  <tr>
    <td>Молочный коктейль Клубника</td>
    <td>250</td>
    <td>190</td>
  </tr>
  <tr>
    <td>Молочный коктейль Банан</td>
    <td>250</td>
    <td>190</td>
  </tr>
  <tr>
    <td>Молочный коктейль Шоколад</td>
    <td>250</td>
    <td>190</td>
  </tr>   	
</table>
  <table>
  <caption>
    Кофейная карта
  </caption>
  <tr>
    <th>Наименование</th>
    <th>Выход, мл.</th>
    <th>Цена, руб.</th>
  </tr>
  <tr>
    <td>Эспрессо</td>
    <td>250</td>
    <td>190</td>
  </tr>
  <tr>
    <td>Американо</td>
    <td>250</td>
    <td>200</td>
  </tr>
  <tr>
    <td>Латте</td>
    <td>250</td>
    <td>200</td>
  </tr>
  <tr>
    <td>Флэт Уайт</td>
    <td>120</td>
    <td>150</td>
  </tr>
</table>
   <table>
  <caption>
    Фреш
  </caption>
  <tr>
    <th>Наименование</th>
    <th>Выход, мл.</th>
    <th>Цена, руб.</th>
  </tr>
  <tr>
    <td>Апельсиновый</td>
    <td>250</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Яблочный</td>
    <td>250</td>
    <td>140</td>
  </tr>
  <tr>
    <td>Грушевый</td>
    <td>250</td>
    <td>120</td>
  </tr>
</table>
</body>
</html>
</body>
</html>